@charset "UTF-8";
* {
    margin: 0px;
}
body {
	color: #666;
	background-color: #aaa;
	background-image: url("imagenes/fondos-gratis.jpg");
	background-repeat: repeat;
	font-weight: bold;

    
text-align: justify;
font-family: “Times New Roman”, arial, verdana, tahoma;
font-size: 18pt; color:firebrick; overflow: hidden;
		
}

form {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

table {
/*	 background-image: url("imagenes/fondo-bio.jpg"); */
	 background-attachment: fixed;
	 background-repeat: repeat-y;
	
	text-transform: uppercase; 
}

textarea {
	text-decoration: line-through;
	
}

td {

	text-align: center;
	
}

table td table td {
	text-align: center;
	
}


h1 {
	
	text-decoration: underline;
	
}