* {margin: 0px; padding: 0px; }
body {
background-image: url("imagenes/fondoEstrellas2.jpg");
text-align: justify;
font-family: arial, verdana, tahoma;
font-size: 18pt; color:white; overflow: hidden;
}
iframe { width: 100%; overflow-y: visible; height: 100%; border: 0px;}
div { height:92vh; overflow: hidden;}
#menu { float: left; width: 15%; }
#planetas {margin-left: 15%; }