body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#capa1 {
    background-color: yellow;
    width: 25vw;
    height: 25vh;
    float: left;
}

#capa2 {
    background-color: fuchsia;
    width: 74vw;
    height: 25vh;
    margin-left: 25vw;
}

#capa3 {
    background-color: blue;
    width: 50vw;
    height: 50vh;
    float: left;
}


#capa4 {
    float: left;
    background-color: green;
    width: 25vw;
    height: 50vh;
}

#capa5 { 
    float: left;
    background-color: black;
    color: white;
    width: 24vw;
    height: 50vh;
}

#capa6 {
    float: left;
    background-color: darkmagenta;
    width: 25vw;
    height: 25vh;
}

#capa7 {
    float: left;
    background-color: orange;
    width: 25vw;
    height: 25vh;
}

#capa8 {
    float: left;
    background-color: lightblue;
    width: 25vw;
    height: 25vh;
}

#capa9 {
    float:left;
    background-color: gray;
    width: 24vw;
    height: 25vh;
}