* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    background-image: url("imagenes/fondos/fondoEstrellado.png");
}


header {
    background-image: url("imagenes/fondos/ssolar.png");
    background-repeat: no-repeat;
    height: 35vh;
    text-decoration: underline;
    text-align: center;
    font-size: 20pt;
    color: white;
    padding-top: 60px;
}

nav {
    height: 55vh;
    width: 200px;
    float: left;
}

nav a {
    display: block;
    background-image: url("imagenes/botones/botonNormal.png");
    height: 60px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    font-size: 20pt;
}

nav a:hover {
    background-image: url("imagenes/botones/botonHover.png");  
    border: 1px dotted black;
    text-decoration: underline;
    color: darkblue;
}

nav a:active {
    background-image: url("imagenes/botones/botonClick.png");
    text-decoration: underline;
    border: 1px dotted black;
    color: black;
}

nav a:visited {
    color: blue;
}

main {
    height: 55vh;
    width: calc(100% - 200px);
    float: left;
}

main iframe#contenido {
    width: 100%;
    height: 100%;
}

footer {
    clear: both;
    height: 10vh;
    color: yellow;
    text-align: right;
    /*
    padding-top: 30px;
    */
    font-size: 20pt;
}