* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

header {
    height: 15vh;
    font-size: 30pt;
    font-weight: bold;
    color: white;
}
nav {
    width: 300px;
    height: 85vh;
    float: left;
    
}
main {
    float: left;
    height: 85vh;
    width: calc(100% - 300px);
    font-size: 18pt;
    font-family: serif;
    color: white;
}