@charset "UTF-8";

* {
	margin: 0px;
	border: none;
	padding: 0px;
	box-sizing: border-box;
}

header {
	background-color: red;
}
nav {
	background-color: green;
}
main {
	background-color: blue;
}
footer {
	background-color: orange;
}